*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* all place set class link */

.primary-color-blue{
    color: blue;
}

.google-fonts-inter{
     font-family: "Inter", sans-serif;
}

.btn{
    background-color: blue;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background: radial-gradient(circle,rgba(88, 106, 111, 0.94) 0%, rgb(255, 87, 120) 100%);
}

/* =========================================================== */


/* header starts here */
header{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 670px;
    max-width:  100%;
    margin:0px auto 80px auto;
}

.nav-bar{
    /* background-color: aqua; */
    width: 70%;
    height: 80px;
    margin: 0px auto 158px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1-fonts{
    font-size: 50px;
    text-shadow: 2px 2px 3px rgb(152, 152, 244);
    
}
.h1-fonts:hover{
    transition: 20px 2s;
    text-shadow: 2px 2px 40px rgb(126, 126, 244);
}

.button{
    height: 35px;
    width: 150px;
    font-size: 20px;
}

/* ++++++++++++++++++++++++++ */
.heading-button{
    height: 600px;
    width: 100%;
    /* background-color: chartreuse; */
    margin: 100px auto 100px auto;
    
}
.heading{
    /* background-color: aqua; */
    width: 80%;
    margin:0px auto 37px auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
}

.Buttno{
    background-color: azure;
    height: 40px;
   font-size: 20px;
    margin: 0 auto;
}
.heading-button .buttono{
   padding: 10px 30px;
}

/* --------nav-bar start here------ */
  

/* header ends here */

/* =========================================================== */

main{
    max-width:  85%;
    /* background-color: cornflowerblue; */
    margin: 0 auto;
}

/* main starts here */

/*action section starts here  */
.section-see-2020{
    background-color: #b0adf4f7;
    /* box-shadow: 1px 1px 3px rgb(206, 182, 182); */
    border-radius: 20px;
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin-bottom: 50px;
    
  }
  
  .div-see p{
    margin-top: 15px;
    opacity: .70;
    
  }

  .div-see button{
    margin-top: 20px;
    padding: 10px 40px;
  }

  .image .imgh{
      border-radius: 35px;
       height: 300px;
       width: 300p;
  }

  /* action section ends here */

  /* Production users Section starts here  */
.sectionf{
    margin-bottom: 100px;
}
.main{
    background-color: #cacaede1;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.productive-section{
    /* background-color: rgba(121, 191, 248, 0.815); */
    height: 400px;
    border-radius: 10px;
     /* display: flex;
    justify-content: s;
    align-items: center; */
    
}

/*.centered-title{
     background-color: darkmagenta; 
}*/
.three-data-subtitle{
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0 auto;
}
 .centered-title{
   text-align: center;
   font-size: 25px;
   margin-top: 130px;
 }
.three-data-subtitle div{
    
    padding: 20px 60px;
}

.three-data-subtitle h1{
    font-size: 80px;
    color: dodgerblue;
    
}
.three-data-subtitle p{
    font-size: 15px;
    text-align: center;
    color: black;
    opacity: .5;
}
  /*  Production users Section ends here */

 /* User's Feedback Section stats here   */
.user-feddback-secton{
    /* background-color: darkseagreen; */
    height: 400px;
    padding: 25px;
    margin-bottom: 100px;
    /* margin: 50px auto; */
}
.user-contant{
    margin: 40px auto;
    /* background-color: blue; */
   
    margin-top: 50px;
}
.card{
    background-color: rgb(249, 253, 251);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(109, 105, 105);
    margin: 40px auto;
    padding: 15px;

}
.card-down img{
    margin-top: 24px;
    margin-top: 24px;
}
.card-down h4{
    margin-top: 20px;
    /* background-color: rgb(26, 45, 84); */
    font-size: 20px;
    /* opacity: .70; */
}
.card-down p{
    margin-top:15px;
    margin-bottom: 15px;
    /* background-color: cornflowerblue; */
    opacity: 0.6;
}
.photo{
    display: flex;
    gap: 20px;
    /* background-color: rgb(234, 155, 58); */
    

}
.women-img{
    margin-bottom: 10px;
    display: flex;
    /* background-color: bisque; */
    width: 300px;
    gap: 10px;
    margin-top: 10px;
    
   
}

.womenn{
 
    border-radius: 50%;
    border: 2px 2px 2px red;
    padding: 2px;
}
.left, P, h4{
    opacity: .8;
    font-weight: 500;
}
/* < User's Feedback Section ends here   */


/* Ready to focus better starts here*/

.ready{
    max-width: 100%;
    height: 700px;
    border-radius: 10px;
   background-color: #bab8ff;
    box-shadow: 3px 3px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


.ready h1{
    text-align: center;
    margin-bottom: 20px;
}
.ready p{
    text-align: center;
    margin-bottom: 20px;
    opacity: .50;
    margin-bottom: 20px;
}
.ntb{
    height: 40px;
    background-color: blue;
    margin: 10px auto 30px 275px;
    padding: 10px 80px;
    text-align: center;
    width: 35%;
}

.ready img{
    border-radius: 10px;
    /* opacity: .40; */

}

.ready img:hover{
    border-radius: 20px;
    /* opacity: 1; */
    cursor: pointer;

}





/* Ready to focus better ends here*/

/* <!-- Let's get in touch section (10  marks) starts here --> */
.lets-extra-ten-marks{
    height: 450px;
    background-color: #c9c7f8;
    border-radius: 10px;
    /* box-shadow: 2px 2px 3px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto 80px auto;
    gap: 78px;
    width: 100%;

}

.heading-h1{
/* background-color: blue; */
height: 200px;
display: flex;
/* justify-content: center; */
align-items: center;
text-align: left;
width: 300px;
font-size: 25px;
font-family: "Inter", sans-serif;

}
.from-box{
/* background-color: cadetblue; */
    width: 350px;
    background-color: #b5b3ffe1;
    box-shadow: 2px 2px 3px rgb(161, 143, 143);
    border-radius: 10px;
    padding: 10px;
}
.from-box form label{
    font-size: 25px;
    width: auto;
    margin-bottom: 5px;
}

.from-box form input{
    padding: 10px 0px 10px 30px ;
    border-radius: 5px;
    border: none;
    width: 300px;
    outline: none;
    font-size: 15px;
}

.email{
    margin-top: 1.5px;
    margin-bottom:3px;
    margin-left: 20px;
}
.message p{
font-size: 20px;
font-family: "Inter", sans-serif;

}
.message textarea{
    background-color: white;
    padding: 20px 10px ;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    width: auto;
    resize: none;

}

.last{
    display: flex;
    justify-content: start;
    align-items: start;
}
.last  button{
    margin: 5px 0px;
    padding: 5px 90px;
    font-size: 20px;
    width: auto;
}
/* <!-- Let's get in touch section (10  marks) ends here --> */

/* main ends here */
/* =========================================================== */

/* footer starts here */
footer{
    background-color: #b5b3ffe1;
    box-shadow: 0px -2px 5px black;
    border-radius: 10px;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
/* background-color: dodgerblue; */
height: 300px;
width: 60%;
 display: flex;
    justify-content: center;
    align-items: center;
margin: 0 auto;
}
.logo h1{
text-align: center;
font-size: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 10px;

}

.logo p{
    text-align: center;
    margin-bottom: 10px;
    opacity: .70;
     margin-top: 15px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;

}

.link a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .70;
    color: black;
}
/* footer ends here */

/* =========================================================== */
